globalCache:
  capacity: 1500

jerseyClient:
  timeout: 30s
  connectionTimeout: 1m

server:
  adminConnectors:
    - type: http
      port: 8092
  applicationConnectors:
    - type: http
      port: 8082

logging:
  level: INFO
  appenders:
    - type: console
      logFormat: "%-5p [%d{ISO8601,UTC}] %c: %m %kvp%n%dwREx"
      target: stderr
      discardingThreshold: 0
  loggers:
    nl.knaw.huc: INFO
    org: WARN
    org.glassfish: ERROR
    com.jayway: ERROR

externalBaseUrl: ${BASE_URL}:${BROCCOLI_PORT}

projects:
  - name: ${PROJECT}
    topTierBodyType: "Document"
    textType: NormalText
    annoRepo:
      containerName: ${PROJECT}
      uri: http://localhost:8080
      cacheCapacity: 1000
      cacheThreshold: 500
    brinta:
      uri: http://localhost:9200
      indices:
        - name: ${PROJECT}
          bodyTypes: ["Letter"]
          fields:
            - name: type
              type: keyword
            - name: identifier
              type: keyword
            - name: title
              type: keyword
            - name: subtitle
              type: keyword
            - name: author
              type: keyword
            - name: editor
              type: keyword
            - name: datePublished
              type: date
    views:
      - name: text
        anno:
          - path: "body.type"
            values: ["Division"]
          - path: "body.tei:type"
            values: [original, translation, "intro-nl", "intro-en"]
        groupBy: "body.language"
      - name: textNotes
        anno:
          - path: "body.type"
            values: ["Dataset"]
          - path: "body.tei:type"
            values: [notes, langnotes, "intro-notes"]
        groupBy: "body.language"
        findWithin:
          path: "body.type"
          value: "Note"
          groupBy: "body.n"
      - name: typedNotes
        anno:
          - path: "body.type"
            values: ["Dataset"]
          - path: "body.tei:type"
            values: [typednotes]
        groupBy: "body.language"
