jerseyClient:
  timeout: 30s
  connectionTimeout: 1m

server:
  applicationConnectors:
    - type: http
      port: ${BR_SERVER_PORT:-8080}

logging:
  level: INFO
  loggers:
    nl.knaw.huc: DEBUG
    org: WARN
    org.glassfish: ERROR
    com.jayway: ERROR

externalBaseUrl: ${BR_EXTERNAL_BASE_URL:-http://localhost:8080}

iiifUri: https://images.diginfra.net/api/pim
textUri: https://textrepo.republic-caf.diginfra.org/api

projects:
  - name: 'globalise'
    tiers:
      - name: document
        type: str
      - name: opening
        type: num
    annoRepo:
      apiKey: ${AR_GLOBALISE_API_KEY:-}
      containerName: globalise-demo-5
      uri: https://globalise-annorepo.tt.di.huc.knaw.nl
    textRepo:
      apiKey: ${TR_GLOBALISE_API_KEY:-}
      uri: https://globalise.tt.di.huc.knaw.nl
    iiif:
      fetch: urn:globalise:manifest

  - name: 'republic'
    tiers:
      - name: volume
        type: str
      - name: opening
        type: num
    annoRepo:
      apiKey: ${AR_REPUBLIC_API_KEY:-}
      containerName: volume-1728-11
      uri: https://annorepo.republic-caf.diginfra.org
    textRepo:
      uri: https://textrepo.republic-caf.diginfra.org
    iiif:
      fixed: https://images.diginfra.net/api/pim/imageset/67533019-4ca0-4b08-b87e-fd5590e7a077/manifest

#DEPRECATED
globalise:
  annoRepo:
    apiKey: ${AR_GLOBALISE_API_KEY:-}
    containerName: globalise
    uri: https://globalise-annorepo.tt.di.huc.knaw.nl
  textRepo:
    apiKey: ${TR_GLOBALISE_API_KEY:-}
    uri: https://globalise.tt.di.huc.knaw.nl
  archiefNr: '1.04.02'
  defaultDocument: '316_2'  # quotes needed, or _ will disappear during number parsing
  defaultOpening: 0048
  documents:
    - name: '43'
      invNr: '1092'
    - name: '199'
      invNr: '1297'
    - name: '316_1'
      invNr: '1589'
      manifest: '316'
    - name: '316_2'
      invNr: '1589'
      manifest: '316'
    - name: '316_3'
      invNr: '1589'
      manifest: '316'
    - name: '405'
      invNr: '1859'
    - name: '685_1'
      invNr: '7573'
      manifest: '685'
    - name: '685_2'
      invNr: '7573'
      manifest: '685'

#DEPRECATED
republic:
  annoRepo:
    apiKey: ${AR_REPUBLIC_API_KEY:-}
    containerName: volume-1728-7
    uri: https://annorepo.republic-caf.diginfra.org
  #  na_prefix: NL-HaNA
  #  na_archiefnummer: 1.01.02
  #  na_inventarisnummer: 3783
  #  na_opening 0285
  #  na_format: "{$na_prefix}_{$na_archiefnummer}_{$na_inventarisnummer}_{$opening}"
  archiefNr: '1.01.02'
  defaultVolume: '1728'
  defaultOpening: '0285'
  volumes:
    - name: '1728'
      invNr: '3783'
      imageset: 67533019-4ca0-4b08-b87e-fd5590e7a077
